.form-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 600px; /* Maintain a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; /* Ensure space between form and footer */
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem 0;
}

h2 {
    font-size: 1.75rem;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-control, .form-control-file, .form-control-file {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    color: #333;
}

